@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
*{
    margin: 0;
    padding: 0;
    /*box-sizing: content-box;
    border-style: dotted;    */
}

body{
    background: rgb(0, 255, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}
/*este es el contenedor general*/
.padre{
    background: #fff;
    display: grid;
    grid-template-areas: 
    'superior superior superior'
    'nav nav nav'
    'slider slider slider'
    'cuerpo cuerpo cuerpo'
    'publicidad publicidad publicidad'
    'footer footer footer'
    ;
    gap: 0 10px;
    align-items: center;
    color: #941e0f;
    width: 100%;
 }
 /* fin contendor general*/

 /*este es el contenedor de la barra superior donde va un logo del gobierno, menu y redes sociales*/
    .cabecera{
        grid-area: superior;
        background: #67B5DD;
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        align-items: center;
        color: #941e0f;
        width: 100%;
    }
        .logo{
            width: 80%;
            font-size: 5px;
            text-align: center;
        }
        
        .logo img{
            object-fit: contain;
            width: 80%;
            height: 100%;
        }
        .navegacion{
            font-size: 12px;
            text-align: center;
            margin-right: 10px;
        }
        .navegacion a{
            padding-right: 15px;
        }
        .social{
            font-size: 12px;
            text-align: right;
            padding-right: 15px;  
                
        }
/* fin de la barra gobierno*/
/*aqui inicia la parte mas propia de la página, lleva logo de la ins. menu y opciones de ingreso */
    /*menu de navegacion de la pagina.*/        
        .nav{
            grid-area: nav;
            margin: 10px;
            align-items: center;
        }
        
        .nav a{
            color: #070346;
            padding: 10px;
            line-height: 5px;
        }
        .nav a:hover{
            color: #FB8500;
        }
        .menu2{
            /*background-color: #941e0f;*/
            display: grid;
            grid-template-columns: 1fr 3fr;
            align-items: center;
        }
            .logo2{
                width: 80%;                
            }
            .logo2 img{               
                width: 100%;
            }
            .nav2{
                display: flex;
                align-items: center;
            }
            .nav-item{
                padding: 15px;
                
                display: flex;
                list-style: none;
                justify-content: center;
            }
            .nav-item a{
                font-size: 13px;
                padding-left: 10px;
                text-align: center;
            }
            
            #btnMenu{
                display: none;
                background-color: rgb(238, 217, 30);
                height: 100%;
                margin-right: 15px;
            }
            #btnMenu i{
                width: 15px;
                height: 20px;
                text-align: center;
                padding: 5px;
            }
    .list-submenu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .submenu{
            width: 100%;
            white-space: nowrap;
        }
            .button{
                background-color: #9CB94B;
                border: none;
                border-radius: 20px;
                color: #ffffff;
                font-size: 13px;
                font-weight: bold;
                height: 25px;
                width: 50%;
            }

    /* eslider con informacion importante de la página*/
    .slider{
        grid-area: slider;
        background: url(../img/Banner_inocuidad.jpg) center no-repeat;
        height: 400px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
  
    /*seccion para las noticias */
    .cuerpo{
        grid-area: cuerpo;
        background: #E2EAED;
        grid-template-areas: 
        'articulos'
        'publicidad'
        ;
    }
        .articulos{
            grid-area: articulos;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;
            width: 70%;
            max-width: 81%;
            margin: 0 auto;
            padding: 10px;
        }
            .article{
                border-radius: 20px;
            }
           
            .article span{
                color: #7ebae0;
                font-weight: 100;
                font-size: small;
                margin-right: 20px;
            }
            .article a{
                padding: 0 15px 0 15px;
            }
            .article img{
                width: 100%;
                border-radius: 10px;
                opacity: 0.9;
                transition: 2s;
            }
            .article img:hover{
                opacity: 1;
                transform: scale(1.1);
            }
            .article .img{
                overflow: hidden;
            }
    /* seccion para publicidad*/
    .publicidad{
        grid-area: publicidad;
        background: lightblue;
    }
        .avisos{
            background: goldenrod;
        }
    /*pie de la pagina*/
    .footer{
        grid-area: footer;
        background-color: #013D57;

    }
        .pie{
            color: #ffffff;
            text-align: center;
            padding: 10px;
            height: auto;            
        }

@media all and (max-width: 720.9999px){
    .superior{
        display: none;
    }
    .logo2{
        width: 100%;
    }
    #btnMenu{
        width: 10%;
        height: 20%;
    }
    .nav{
        display: flex;
        flex-direction: row;
        background-color: #023D59
    }
    .nav2 ul{
        display: none;
    }

}

@media all and (max-width: 425.9999px){
    .superior{
        display: none;
    }
    .logo2{
        width: 100%;
    }
    #btnMenu{
        width: 10%;
        height: 20%;
    }
    .nav{
        display: flex;
        flex-direction: row;
        background-color: #023D59
    }
    .nav2 ul{
        display: none;
    }   

}